@tailwind base;
@tailwind components;
@tailwind utilities;

.dice {
    width: 120px;
    height: 150px;
    max-width: 120px;
    max-height: 150px;
    margin-left: 80px;
    margin-top: 15px;
}

#fourFacesimg {
    background-image: url('/rollingDice/diceVect/dice4.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#fourFaces:checked + #fourFacesimg {
    background-image: url('/rollingDice/diceVect/dice4checked.svg');
}


#sixFacesimg {
    background-image: url('/rollingDice/diceVect/dice6.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#sixFaces:checked + #sixFacesimg {
    background-image: url('/rollingDice/diceVect/dice6checked.svg');
}


#twentyFacesimg {
    background-image: url('/rollingDice/diceVect/dice20.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

#twentyFaces:checked + #twentyFacesimg {
    background-image: url('/rollingDice/diceVect/dice20checked.svg');
}
